/* Importation de la Police Lato  */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');





/* .primaire {
    color: #fd2d01;
}
.secondaire {
    color: #ffd7d7;
}
.tertiaire {
    color: #4e5166;
} */


/* Importation du Css Style Admin */
@import '../css/admin/styles.css';

/* Importation du Css Materialdesignicons Admin */
@import '../css/admin/materialdesignicons.min.css';

/* Importation du Css Vendor Admin */
@import '../css/admin/vendor.bundle.base.css';

/* Import du favicon */
/* @import url('../css/admin/favicon.ico') screen; */